.public-product {
  width: 200px;
  height: 250px;
  margin: 20px;
  padding: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.public-product .product-header-img {
  position: relative;
  width: 100%;
  margin: auto;
}

.public-product .product-header-img img {
  max-height: 195px;
  width: auto;
  margin: auto;
}

.public-product .go-to-cart {
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 0;
  width: 100%;
  padding: 3px;
}

.public-product .product-pricing {
  background-color: white;
  text-align: left;
  padding: 0 8px;
  width: 100%;
  border-top: 1px solid #d3cfcf;
  margin-top: 2px;
}

.public-product .product-pricing h3 {
  margin: 8px 0;
  font-size: 0.9rem;
}

.public-product .product-pricing p {
  font-size: 0.8rem;
  margin: 0.4rem 0;
}

.public-product .product-pricing .disc-price-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 5px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.public-product .product-pricing .disc-price-div p {
  margin: 0 2px;
  font-size: 0.7rem;
  color: #0357b8;
  font-weight: bold;
}

.public-product .product-pricing .disc-price-div strike {
  font-size: 0.6rem;
  margin: 0 3px;
}

.public-product .product-pricing b {
  font-size: 0.85rem;
  font-weight: 900;
}

@media (max-width: 600px) {
  .public-product {
    min-width: 45%;
    width: 45%;
    height: 220px;
    margin: 8px 0;
  }
  .public-product .product-header-img img {
    max-height: 100px;
    width: auto;
  }
  .public-product .product-pricing h3 {
    font-size: 1rem;
  }
  .public-product .product-pricing strike {
    font-size: 0.6rem;
  }
  .public-product .product-pricing b {
    font-size: 0.9rem;
  }
  .public-product .product-pricing .product-bottom-div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .public-product .product-pricing .product-bottom-div button {
    padding: 4px;
    font-size: 1rem;
  }
}

.cart-details-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0095f6;
  padding: 5px 10px;
}

.cart-details-top-bar button {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  background: none;
  font-weight: bold;
}

.cart-details-content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 40px;
}

.cart-details-cart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2%;
}

@media (max-width: 600px) {
  .cart-details-cart-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
}

.cart-details-cart-content .cart-details-cart-items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 20px;
}

.cart-details-cart-content .cart-details-cart-items .cart-product {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1%;
}

@media screen {
  .cart-details-cart-content .cart-details-cart-items .cart-product {
    padding: 4% 0;
  }
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
}

@media (max-width: 600px) {
  .cart-details-cart-content .cart-details-cart-items .cart-product .product-header {
    width: 100%;
  }
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .image {
  width: 30%;
  position: relative;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .image img {
  width: auto;
  height: auto;
  max-height: 150px;
}

@media (max-width: 600px) {
  .cart-details-cart-content .cart-details-cart-items .cart-product .product-header .image {
    width: 50%;
  }
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content {
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .heading button {
  padding: 0;
  text-align: left;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .heading button h3 {
  font-size: 1.2rem;
  margin: 0;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .heading p {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .remove-from-cart-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .remove-from-cart-div .quantity-div select {
  width: 60px;
  text-align: center;
  background-color: #e7e9ec;
  border-color: #ADB1B8;
  padding: 0;
  margin: 0 5px;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .remove-from-cart-div .quantity-div select option {
  color: #111;
  font-weight: bold;
  text-align: center;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-header .content .remove-from-cart-div .remove {
  font-size: 0.8rem;
  font-weight: bold;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-pricing {
  text-align: right;
  width: 30%;
}

.cart-details-cart-content .cart-details-cart-items .cart-product .product-pricing p {
  font-weight: 900;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .cart-details-cart-content .cart-details-cart-items .cart-product .product-pricing P {
    font-size: 1.2rem;
  }
}

.cart-details-cart-content .checkout-div {
  width: 20%;
  border: 1px solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

@media (max-width: 600px) {
  .cart-details-cart-content .checkout-div {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
  }
}

.product-details-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-details-nav button {
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.product-details {
  position: relative;
  z-index: 5;
  padding: 5% 5%;
}

.product-details .product-details-top-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.product-details .product-details-top-div .product-details-carousel {
  width: 30%;
}

.product-details .product-details-top-div .product-details-carousel img {
  max-height: 500px;
  width: auto;
  margin: auto;
}

.product-details .product-details-top-div .product-details-top-right-div {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100%;
  margin: 0 20px;
}

@media (max-width: 600px) {
  .product-details .product-details-top-div .product-details-top-right-div {
    width: 100%;
    margin: 0;
  }
}

.product-details .product-details-top-div .product-details-top-right-div p {
  font-size: 0.85rem;
  margin: 0.3rem 0;
}

.product-details .product-details-top-div .product-details-top-right-div .product-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-details .product-details-top-div .product-details-top-right-div .product-pricing .product-details-product-sale {
  margin: 20px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.8rem;
}

.product-details .product-details-top-div .product-details-top-right-div .product-pricing strike {
  font-size: 0.8rem;
}

.product-details .product-details-top-div .product-details-top-right-div .product-pricing b {
  font-size: 1.1rem;
  color: red;
}

.product-details .product-details-top-div .product-details-top-right-div .product-add-to-cart-div {
  margin: 50px 0;
  width: 20%;
}

@media (max-width: 600px) {
  .product-details .product-details-top-div .product-details-top-right-div .product-add-to-cart-div {
    width: 70%;
    margin: auto;
  }
}

.product-details .product-details-top-div .product-details-top-right-div .product-add-to-cart-div input {
  text-align: center;
}

.product-details .product-details-top-div .product-details-top-right-div .product-add-to-cart-div .product-add-to-cart {
  background-color: #0095f6;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border: none;
  font-size: 0.9rem;
}

.product-details .product-details-top-div .product-details-top-right-div .product-add-to-cart-div .go-to-cart {
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 700;
  margin-top: 5px;
  text-align: center;
}

.product-details .product-details-top-div .product-details-top-right-div .product-add-to-cart-div .go-to-cart a {
  text-decoration: underline;
  color: #9c756f;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .product-details .product-details-top-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-details .product-details-top-div .product-details-carousel {
    width: 80%;
    margin: auto;
  }
  .product-details .product-details-top-div .product-add-to-cart-div {
    width: 50%;
    margin: auto;
  }
  .product-details .product-details-top-div .product-add-to-cart-div input {
    text-align: center;
  }
  .product-details .product-details-top-div .cart-details-top-right-div {
    margin: 0;
    width: 100%;
  }
  .product-details .product-details-top-div .cart-details-top-right-div .go-to-cart {
    font-size: 0.7rem;
  }
}

.we-also-recommend-div {
  padding: 5%;
  position: relative;
  overflow: scroll;
}

.we-also-recommend-div .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.we-also-recommend-div .content .public-product {
  width: 200px;
  height: 180px;
  margin: 20px;
  position: relative;
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we-also-recommend-div .content .public-product .product-header-img img {
  max-height: 150px;
  width: auto;
}

@media (max-width: 600px) {
  .we-also-recommend-div .content .public-product {
    min-width: 150px;
    height: 180px;
    margin: 8px;
  }
  .we-also-recommend-div .content .public-product .product-header-img img {
    max-height: 150px;
  }
}

.cart-purchase-btn {
  width: 100%;
  margin: 10px auto !important;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.payment-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}

.payment-form-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 10px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment-form-header button p {
  margin: 0;
}

@media (max-width: 600px) {
  .payment-form-header {
    width: 95%;
  }
  .payment-form-header button {
    padding: 10px 20px;
  }
}

#payment-info-form {
  width: 50%;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid #9c756f;
  border-radius: 10px;
}

#payment-info-form .payment-form-flex-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#payment-info-form .payment-form-flex-input select {
  border-radius: 10px;
  width: 50%;
  border: solid 1px rgba(27, 9, 9, 0.1);
  color: rgba(27, 9, 9, 0.6);
  height: 100%;
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #payment-info-form {
    width: 95%;
  }
  #payment-info-form .payment-form-flex-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  #payment-info-form .payment-form-flex-input select {
    width: 100%;
    margin: 10px 0;
  }
}

.payment-output {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-output-main-div {
  width: 80%;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border: 2px solid black;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 0px 20px 3px rgba(0, 0, 0, 0.61);
  box-shadow: 3px 0px 20px 3px rgba(0, 0, 0, 0.61);
}

.payment-output-main-div .logo-div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
  margin-bottom: 8px;
  background-color: white;
}

.payment-output-main-div h2 {
  font-size: 2rem;
}

.payment-output-main-div p {
  font-weight: bold;
}

.payment-output-main-div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px;
}

@media (max-width: 600px) {
  .payment-output-main-div {
    width: 90%;
  }
}

.home-page-products-div {
  z-index: 1;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 600px) {
  .home-page-products-div {
    width: 100%;
  }
}

.home-page-products-div .home-page-products-top-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page-products-div .home-page-products-top-div .heading {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #9c756f;
}

.home-page-products-div .home-page-products-top-div .category-fixed {
  padding: 10px;
  border: 1px solid black;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.public-categories-div {
  width: 20%;
  margin-right: auto;
  margin-right: 40px;
  border-right: 1px solid #9c756f;
  color: #9c756f;
  position: relative;
  z-index: 2;
}

.public-categories-div .public-categories-content button {
  border: none;
  background: none;
  text-align: left;
}

.public-categories-div .public-categories-content button p {
  margin: 0;
}

.public-categories-div .public-categories-content button p:hover {
  color: red;
}

.home-page-products-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .home-page-products-content {
    width: 100%;
  }
}

.home-page-products-content h4 {
  font-size: 1.8rem;
}

.home-page-products-content .public-category {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #f3f3f3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  border: 1px solid #f3f3f3;
}

.home-page-products-content .public-category img {
  max-height: 110px;
  width: auto;
  margin: auto;
}

.home-page-products-content .public-category .category-text {
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 0.9rem;
  color: black;
}

@media (max-width: 600px) {
  .home-page-products-content .public-category {
    width: 45%;
    margin: 8px 0;
  }
}
/*# sourceMappingURL=styles.css.map */