$primaryColor:#0095f6;
$secondaryColor: rgb(10, 207, 142);
$tertiaryColor: blue;
$bgcolor:rgba(black,0.02);

$primaryTextColor: rgba(black,0.6);
$secondaryTextColor: grey;
$tertiaryTextColor: blue;
$errorTextColor:red;
$hoveredTextColor: black;

$headingTextSize: 1.5rem;
$subHeadingTextSize:1rem;
$paragraphTextSize: 0.8rem;
$errTextSize:0.8rem;
$normalTextSize:0.95rem;

$btn1Bg: #0095f6;
$btn1Text:white;
$secondarybtnBgColor:rgb(10, 207, 142);
$tertiaryBtnBgColor:rgb(10, 207, 142);
$secondarybtnTextColor:black; 

$borderColor: rgba(black,0.2);

$headingFont : 'Comfortaa';

$mainDivWidth: 80%;

$navHeight : 3.5rem;


// Public page 
$publicPageThemeColor: #9c756f;
$homepageBackgroundColor: #fff;
$publicPageSecondaryBgColor: rgb(243, 243, 243);
